<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.li.auth.mapper.SysRoleMapper">

    <resultMap id="SysRoleResultMap" type="com.li.auth.pojo.SysRole">
        <id column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getRoleInfoByCode" resultMap="SysRoleResultMap">
        select * from sys_role where code=#{code}
    </select>
    <select id="getRolesByUserName" resultMap="SysRoleResultMap">
        select * from sys_role where code in (
            select role_code from sys_user_role where username = #{username}
        )
    </select>

</mapper>